.about-page {
    font-family: 'Roboto', sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #F1F6F9;
    line-height: 1.6;
}

.about-page h1 {
    text-align: center;
    color: #005999 !important;
    font-weight: 600;
}

.about-page h2 {
    text-align: center;
    color: #fff;
}

.about-page p {
    text-align: center;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}