.auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 120vh;
    font-family: 'Roboto', sans-serif;
}

.auth-page h1 {
    color: #005999;
    font-weight: 600;
}

.user-type-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px; 
}

.user-type-buttons input {
    cursor: pointer;
}

#first-parameters, .names, .personal-info {
    display: flex;
    justify-content: center;
    gap: 15px; 
}

#first-parameters input, .names input, .personal-info input {
    margin: 10px;
    padding: 5px;
    width: 180px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

@media (max-width: 550px){
    #first-parameters input, .names input, .personal-info input {
        width: 120px;
    }

    textarea {
        width: 250px;
    }
}

@media (max-height: 700px) {
    .auth-page {
        height: 140vh;
    }
}

